body{
	background-color: #F6F8F9;
	padding-top: 50px;
}
header{
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: #F6F8F9;
	z-index: 100;
}
.Logo{
	display: inline-block;
	margin: 18px 92px 17px 20px;
	vertical-align: middle;
	font-size: 13px;
	color: #FA6980;
	font-family: "Helvetica";
    font-weight: bold;
}
.navigation{
	display: inline-block;
	margin-top: 20px;
}
.nav-li{
	display: inline-block;
	font-size: 11px;
	color: #A6ADB4;
	font-family: "Helvetica";
	font-weight: bold;
}
.profile-photo{
	display: inline-block;
   vertical-align: middle;

}
.home{
	color: #343638;
	margin-right: 27px;
}
.photos{
	margin-right: 22px;
	margin-left: 22px;
}
.contact{
	margin-right: 40px;
}
.first-div{
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	display: inline-block;
}
.middle{
	margin-right: 40px;
	margin-left: 40px;
}

.container{
	width: 1160px;
    height: 410px;
    margin: 25px auto 58px auto;
}
h2{
	font-family: "Helvetica";
	font-weight: bold;
	margin-bottom: 40px;
	font-size: 24px;
}
.div-p{
	width: 280px;
	margin: 66px 44px;
	font-family: "Acumin Pro";
	font-weight: regular;
	font-size: 13px;
	line-height: 23px;
	color: #A6ADB4;
}
.div-relative{
    position: relative;
    width: 360px;
    height: 180px;
}
.p-absolute{
	position: absolute;
	top: 28px;
	left: 40px;
	right: 40px;
	bottom: 136px;
	font-family: "Helvetica";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;


}
.container-2{
	width: 1165px;
	height: 960px;
	margin: 58px auto 234px auto;
}
.div2-relative{
	position: relative;
	width: 760px;
	height: 460px;
}
.p2-absolute{
	position: absolute;
	top: 394px;
	right: 17px;
	bottom: 17px;
	font-family: "Helvetica";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;

}
.left-block{
	display: inline-block;
}
.right-block{
	display: inline-block;
	width: 360px;
	height: 896px;
	margin-left: 40px;

}
.div3-relative{
    position: relative;
	width: 360px;
	height: 210px;

}
.p3-absolute{
	position: absolute;
	top: 18px;
	right: 40px;
	left: 40px;
	bottom: 175px;
	font-family: "Helvetica";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;

}
.right-block-image{
	margin: 102px 0px;
}
.right-block-image3{
	margin-bottom: 55px;
}